/* 전체영역 */
body {
  background-color: #F8F4E8;
}

.container {
    width: 100%;
    max-width: 1400px;        
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 24px;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    gap: 30px;
    width: 100%;
}

/* 사이드바 */
.sidebar {
    flex: 0 0 280px;    
    flex-direction: column;
    min-width: 220px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.sidebar-item {
    padding: 20px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-item h3 {
    font-size: 25px;
}

.sidebar-item p {
    font-size: 16px;
    color: #666;
}

.sidebar-item:hover {
    background-color: #e0e0e0;
}

.sidebar-item.active {
    background-color: #ffd46c;
    color: white;
}

/* 컨텐츠 */
.content-container{
    flex: 1;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden;

    position: relative;
    min-width: 0;
}

.content {
  display: none;
}

.content.active {
    display: block;
}

.tab-content {
  display: none;
  flex-grow: 1;
  position: relative;
  margin: 30px 0;
}

.tab-content.active {
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}

.tab-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  font-size: 1.1em;
}

.tab-content th,
.tab-content td {
  padding: 10px;
  text-align: center;
}

.tab-content tr {
  height: 3vh;
}

.tab-content tr.clickable-row:hover {
  background-color: #fef3c7;
  cursor: pointer;
  border-radius: 50px;
}

.back-button {
  position: absolute;
  bottom: 0;
  left: 50;
  padding: 6px 12px;
  background-color: #5c9dff;
  color: white;
  margin: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.back-button:hover {
  background-color: #c7c7c7;
}

/* 페이지네이션 영역 */
.pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  background-color: white;
  margin-top: auto;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.pagination button:hover {
  background-color: #ccc;
}

.pagination button.active {
  background-color: #ffd46c;
  color: white;
}

.diagnosis-list{
    padding:20px 0;
}


/* 호전상태 */
.tab-content-chart {
  display: none;
  flex-grow: 1;
  position: relative;
  margin: 100px 0;
}

.tab-content-chart.active {
  display: block;
  text-align: center;
}

.emotion-chart {
    padding: 20px;
}

/* 개인정보 */
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profileForm label {
 padding: 50px;
  font-weight: bold;
}

#profileForm input {
  width: 65%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

#profileForm button {
  padding: 10px 20px;
  background-color: #5c9dff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}

#profileForm button:hover {
  background-color: #ccc;
}