.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin: 20px;
    width: 250px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 200px 0;
}

.sidebar-item {
    background-color: white;
    padding: 24px 20px;
    margin: 20px;
    border-radius: 16px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    color: #111827;
}

.sidebar li {
    padding: 30px 0;
    text-align: center;
  }

  .sidebar-item:hover {
    background-color: #fef3c7;
}

.sidebar-item.active {
    background-color: #fcd34d;
    color: white;
}
